%h1= @title
%form(action='#' method='POST')
  JDBC Datasource JNDI
  %input(type='text' name='jndi' value=@jndi)
  %br
  %input(type="radio" name="dbtype" value="oracle" checked)  Oracle
  %br
  %input(type="radio" name="dbtype" value="db2")  DB2
  %br
  %input(type='submit')
